.var-flow {
  width: 100%;
  height: 946px;
  position: relative;

  .var-flow-container {
    width: 100%;
    height: 100%;
    position: absolute;

    .var-flow-graph {
      width: 100%;
      height: 100%;
    }
  }
}
